*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 24.348px;
    line-height: 24px;


letter-spacing: -0.02em;
}

body{
    background: #E0E0E0;
}

.wrapper {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 384.1px;

position: absolute;
width: 1115px;
height: 51.22px;
left: 92px;
top: 28px;

}

.navigation{
    display: flex;
    gap: 133px;
    padding-top: 0px;
    margin-bottom: 5px;
}

.ul{
    left: 5000px;
}

.sign{
    position: absolute;
width: 142.09px;
height: 51.22px;
left: 1300px;
top: 0px;
}

.landing{
    position: absolute;
width: 1344px;
height: 1678px;
margin-top: 150px;

}